.main {
    .hero {
        @include flex (80%, flex, column, center, center, wrap, 4% auto, 0%);

        img {
            width: 50%;
            margin: 0% auto 4% auto;
        }

        h1 {
            margin: 3% auto;
        }

        p {
            text-align: justify;
        }

        .callToAction {
            @include tipografias(Inconsolata, 1.1rem, 400, 2rem, center, none, none, 0.1rem);
            margin: 2% auto 0% auto;
            color: $text-main-color
        }

    }

    .box {
        @extend.hero;
        justify-content: space-between;
        width: 80%;
        border: 10px solid #ffff;
        height: auto;

        h2 {
            margin: 3% auto;
        }

        p {
            text-align: justify;
            margin: 1% 2%;
        }

        a {
            text-transform: uppercase;
            color: $text-color-accent;
            font-size: 1.3rem;
            margin-bottom: 2%;
            font-weight: 500;
        }
    }

    .boxConImagen {
        .image {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 3% auto 0% auto;

            img {
                width: 35%;
                height: auto;
            }
        }
    }

    .store {
        background-color: $bg-green;
    }

    .care {
        background-color: $bg-rose;

        .links {
            margin: 2% auto;
        }

    }

    .game {
        background-color: $bg-brown;
    }
}