.main {
  .juegoDeTarot {
    @include flex (90%, flex, column, center, center, wrap, 4% auto, 0%);

    h1 {
      margin: 3% auto;
    }

    p {
      margin: 3%;
      text-align: justify;
    }

    #cartasTarot {
      @include flex (60%, flex, column, center, center, wrap, 4% auto, 0%);

      .card {
        background-color: $main-bg;
        border: none;
      }

      .enlaceTexto {
        color: $text-color-accent;
        background-color: $bg-brown;
      }
    }

    h2 {
      color: $bg-coral;
      font-size: 1rem;
    }

    #sacarCarta {
      background-color: transparent;
      transition: 2s;

      &:hover {
        transform: scale(0.9);

      }
    }
  }


}