@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inconsolata:wght@200;300;400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-main-color;
    scroll-behavior: smooth;
   
}

.grid__container {
    background-color: $main-bg;
    width: 70%;
    margin: 0% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;

    grid-template-areas:
        "header"
        "main"
        "footer";

    h1 {
        @include tipografias(Bungee, 2rem, 400, 2.75rem, left, uppercase, none, 0.1rem);
    }
}

h2 {
    @include tipografias(Bungee, 1.75rem, 400, 2.5rem, left, uppercase, none, 0.1rem);
    color:$text-color-accent;
}

h3 {
    @include tipografias(Bungee, 1rem, 400, 2rem, center, uppercase, none, 0.1rem);
}

h4 {
    @include tipografias(Bungee, 0.8rem, 400, 1.1rem, left, uppercase, none, 0.1rem);
    color:$text-color-accent;
}

p {
    @include tipografias(Inconsolata, 1.1rem, 400, 2rem, center, none, none, 0.1rem);
}

a {
    color: $text-main-color;
    text-decoration: none;
    transition: 2s;

    &:hover {
        transform: scale(1.1);
    }
}

button {
    @include tipografias(Inconsolata, 1.1rem, 400, 2rem, center, uppercase, none, 0.1rem);
    padding: 1% 5%;
    border: none;
    border-radius: 20px;
    color: $text-color-accent;
    background-color: $bg-brown;
    transition: 2s;

    &:hover {
        transform: scale(0.9);
    }
}


.main {
    grid-area: main;


    .images {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 3s;
        border-radius: 5px;

        .images:hover {
            transform: scale(1.1);
        }
    }
}
