//background
$main-bg:#FAF9E5;
$bg-green: #c1d7ae;
$bg-rose: #dcbde3;
$bg-brown:  #d2a67c;
$bg-darkbrown:#C88342;
$bg-lightbrown: #deb792;
$bg-coral:  #F2766A;


//text
$text-main-color: #262626;
$text-color-accent: #E9FF70;

//width
$main-widht:98%;
$anchura-secciones:78%;
$anchura-mq:90%;
