//background
$main-bg:#FAF9E5;
$bg-green: #58CAA8;
$bg-rose: #E2B2C1;
$bg-brown:  #D6A578;
$bg-coral:  #F2766A;

//text
$text-main-color: #262626;
$text-color-accent: #E9FF70;

//width
$main-widht:98%;
$anchura-secciones:78%;
$anchura-mq:90%;
